@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap");

$dark: #191825;
$dark100: lighten(
  $color: $dark,
  $amount: 10,
);
$blue: #a5d7e8;
$darkBlue: #576cbc;

body {
  height: 100vh;
  width: 100%;
  background: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body > * {
  box-sizing: border-box;
}

#cars {
  position: relative;
  width: 100%;
  height: 100%;

  .car--card {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0;
    transition: all 250ms ease-in-out;
    display: flex;
    width: 750px;
    aspect-ratio: 5/2;

    .image-container {
      flex-basis: 55%;
      width: 55%;
      overflow: hidden;
      border-radius: 20px 0px 0px 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .car--info {
      width: 45%;
      padding: 20px;
      background: $dark100;
      border-radius: 0px 20px 20px 0px;
      display: flex;
      flex-direction: column;

      .car-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 8px;

        .tag {
          span {
            background: $dark;
            padding: 5px 15px;
            border-radius: 5px;
            font-family: "Open Sans", sans-serif;
            color: $blue;
            font-weight: 600;
            font-size: 18px;
          }

          &.class {
            span {
              padding: 0;
              background: none;

              b {
                margin: 0;
                font-weight: 600;

                &.letter {
                  padding: 5px 5px 5px 15px;
                  border-radius: 5px 0px 0px 5px;
                  color: white;

                  &.D {
                    background: #42bdf4;
                  }

                  &.C {
                    background: #fcc534;
                  }

                  &.B {
                    background: #ff632c;
                  }

                  &.A {
                    background: #f43156;
                  }

                  &.S1 {
                    background: #b960e8;
                  }

                  &.S2 {
                    background: #165edb;
                  }
                }

                &.score {
                  background: white;
                  color: $dark;
                  padding: 5px 15px 5px 15px;
                  border-radius: 0px 5px 5px 0px;
                }
              }
            }
          }

          &.hp {
            span {
              padding: 0;
              background: none;

              b {
                font-weight: 600;

                &.value {
                  background: $blue;
                  color: $dark;
                  padding: 5px 15px 5px 15px;
                  border-radius: 5px 0px 0px 5px;
                }

                &.tag {
                  background: $dark;
                  padding: 5px 10px 5px 10px;
                  border-radius: 0px 5px 5px 0px;
                }
              }
            }
          }

          &.car-type {
            span {
              text-transform: capitalize;
            }
          }
        }
      }

      .car-title {
        h3 {
          color: $blue;
          font-family: "Figtree", sans-serif;
          font-size: 48px;
          margin: 0;
        }

        h4 {
          color: $darkBlue;
          font-family: "Figtree", sans-serif;
          font-size: 26px;
          margin-top: 5px;
        }
      }
    }

    .car-link {
      position: absolute;
      top: -15px;
      right: -15px;

      a {
        color: $dark;
        background: $blue;
        display: block;
        width: 40px;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
          color: #576cbc;
        }
      }
    }

    &[data-active="true"] {
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;

      &.animate__out {
        top: 100%;
        opacity: 0;
        transition: all 250ms ease-in-out;
      }

      &.animate__finished {
        box-shadow: 0px 0px 48px 22px lighten($color: $dark100, $amount: 10);
      }
    }
  }
}

button#modal-open {
  position: absolute;
  top: 50px;
  right: 0;
  border: none;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: $dark;
  background: $blue;
  padding: 10px 25px;
  border-radius: 10px 0px 0px 10px;
  transition: all 0.3s ease-in-out;

  &:hover {
    padding-right: 40px;
    background: lighten($color: $blue, $amount: 5);
    cursor: pointer;
  }
}

#recent-spins {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  background: #040313;
  width: 33%;
  min-width: 450px;
  right: -100vw;
  transition: all 0.3s ease-in-out;

  &.active {
    right: 0;
  }

  #modal-close {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 40px;
    left: -25px;
    background: $darkBlue;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #040313;
    font-size: 22px;
    border: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      background: lighten($color: $blue, $amount: 5);
    }
  }

  .container {
    padding: 45px;

    h3 {
      font-family: "Figtree", sans-serif;
      color: $blue;
      font-weight: 600;
      font-size: 32px;
      margin: 0 0 20px 0;
    }

    .spin-cards {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .spin-card {
        width: 100%;
        aspect-ratio: 5/2;
        overflow: hidden;
        display: flex;
        background: #1a192d;
        border-radius: 20px;

        .spin-card--img {
          flex-basis: 50%;
          width: 50%;
          height: 100%;
          overflow: hidden;
          border-radius: 20px 0px 0px 20px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .spin-card--content {
          flex-basis: 45%;
          padding: 5px 5px 5px 25px;
          h4 {
            font-family: "Figtree", sans-serif;
            font-size: 20px;
            color: $darkBlue;
            margin: 15px 0px 0px 0px;

            &:first-child {
              margin-bottom: -10px;
            }

            span {
              color: $blue;
              font-size: 26px;
            }
          }

          .tags {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 15px;
          }

          p.year {
            padding: 5px 15px;
            border-radius: 5px;
            background: $dark100;
            color: $blue;
            font-family: sans-serif;
            font-weight: 600;
            width: max-content;
          }

          p.class {
            span.letter {
              padding: 5px 15px;
              font-family: sans-serif;
              color: white;
              font-weight: 600;
              border-radius: 5px 0px 0px 5px;

              &.D {
                background: #42bdf4;
              }

              &.C {
                background: #fcc534;
              }

              &.B {
                background: #ff632c;
              }

              &.A {
                background: #f43156;
              }

              &.S1 {
                background: #b960e8;
              }

              &.S2 {
                background: #165edb;
              }
            }

            span.score {
              background: white;
              font-family: sans-serif;
              color: $dark;
              font-weight: 600;
              border-radius: 0px 5px 5px 0px;
              padding: 5px 15px;
            }
          }
        }
      }
    }
  }
}

@keyframes finishedAnimation {
  0% {
    width: 750px;
  }

  50% {
    width: 800px;
  }

  100% {
    width: 750px;
  }
}

#spin-btn {
  position: absolute;
  bottom: 20%;
  background: #f4d35e;
  color: $dark;
  border: none;
  display: block;
  border-radius: 15px;
  width: 300px;
  height: 55px;
  font-family: "Figtree", sans-serif;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: lighten($color: #f4d35e, $amount: 10);
    transform: scale(1.05);
    cursor: pointer;
  }

  &.disabled {
    opacity: 0;
    bottom: 10%;
  }
}
