@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap");
body {
  height: 100vh;
  width: 100%;
  background: #191825;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body > * {
  box-sizing: border-box;
}

#cars {
  position: relative;
  width: 100%;
  height: 100%;
}
#cars .car--card {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: all 250ms ease-in-out;
  display: flex;
  width: 750px;
  aspect-ratio: 5/2;
}
#cars .car--card .image-container {
  flex-basis: 55%;
  width: 55%;
  overflow: hidden;
  border-radius: 20px 0px 0px 20px;
}
#cars .car--card .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#cars .car--card .car--info {
  width: 45%;
  padding: 20px;
  background: #2e2c44;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
}
#cars .car--card .car--info .car-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 8px;
}
#cars .car--card .car--info .car-tags .tag span {
  background: #191825;
  padding: 5px 15px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  color: #a5d7e8;
  font-weight: 600;
  font-size: 18px;
}
#cars .car--card .car--info .car-tags .tag.class span {
  padding: 0;
  background: none;
}
#cars .car--card .car--info .car-tags .tag.class span b {
  margin: 0;
  font-weight: 600;
}
#cars .car--card .car--info .car-tags .tag.class span b.letter {
  padding: 5px 5px 5px 15px;
  border-radius: 5px 0px 0px 5px;
  color: white;
}
#cars .car--card .car--info .car-tags .tag.class span b.letter.D {
  background: #42bdf4;
}
#cars .car--card .car--info .car-tags .tag.class span b.letter.C {
  background: #fcc534;
}
#cars .car--card .car--info .car-tags .tag.class span b.letter.B {
  background: #ff632c;
}
#cars .car--card .car--info .car-tags .tag.class span b.letter.A {
  background: #f43156;
}
#cars .car--card .car--info .car-tags .tag.class span b.letter.S1 {
  background: #b960e8;
}
#cars .car--card .car--info .car-tags .tag.class span b.letter.S2 {
  background: #165edb;
}
#cars .car--card .car--info .car-tags .tag.class span b.score {
  background: white;
  color: #191825;
  padding: 5px 15px 5px 15px;
  border-radius: 0px 5px 5px 0px;
}
#cars .car--card .car--info .car-tags .tag.hp span {
  padding: 0;
  background: none;
}
#cars .car--card .car--info .car-tags .tag.hp span b {
  font-weight: 600;
}
#cars .car--card .car--info .car-tags .tag.hp span b.value {
  background: #a5d7e8;
  color: #191825;
  padding: 5px 15px 5px 15px;
  border-radius: 5px 0px 0px 5px;
}
#cars .car--card .car--info .car-tags .tag.hp span b.tag {
  background: #191825;
  padding: 5px 10px 5px 10px;
  border-radius: 0px 5px 5px 0px;
}
#cars .car--card .car--info .car-tags .tag.car-type span {
  text-transform: capitalize;
}
#cars .car--card .car--info .car-title h3 {
  color: #a5d7e8;
  font-family: "Figtree", sans-serif;
  font-size: 48px;
  margin: 0;
}
#cars .car--card .car--info .car-title h4 {
  color: #576cbc;
  font-family: "Figtree", sans-serif;
  font-size: 26px;
  margin-top: 5px;
}
#cars .car--card .car-link {
  position: absolute;
  top: -15px;
  right: -15px;
}
#cars .car--card .car-link a {
  color: #191825;
  background: #a5d7e8;
  display: block;
  width: 40px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
#cars .car--card .car-link a:hover {
  transform: scale(1.1);
  color: #576cbc;
}
#cars .car--card[data-active=true] {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
#cars .car--card[data-active=true].animate__out {
  top: 100%;
  opacity: 0;
  transition: all 250ms ease-in-out;
}
#cars .car--card[data-active=true].animate__finished {
  box-shadow: 0px 0px 48px 22px #434063;
}

@keyframes finishedAnimation {
  0% {
    width: 750px;
  }
  50% {
    width: 800px;
  }
  100% {
    width: 750px;
  }
}
#spin-btn {
  position: absolute;
  bottom: 20%;
  background: #f4d35e;
  color: #191825;
  border: none;
  display: block;
  border-radius: 15px;
  width: 300px;
  height: 55px;
  font-family: "Figtree", sans-serif;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
#spin-btn:hover {
  background: #f7e08e;
  transform: scale(1.05);
  cursor: pointer;
}
#spin-btn.disabled {
  opacity: 0;
  bottom: 10%;
}/*# sourceMappingURL=main.css.map */